	<% if @no_time %>
		<h3>You need to enter two different stations!</h3>

		<h4><%= link_to("Go back to Search", "home") %></h4>

	<% else %>

		<h3>Your travel time will be <%= @wmata_data["StationToStationInfos"][0]["RailTime"]%> minutes.</h3>
		<h4>You could watch...</h4>
		<h4><%= link_to("Or Search Again", "home") %></h4>

		<% video_link_prefix = "https://www.youtube.com/watch?v=" %>

		<% items = @youtube_data["items"] %>


		<% items.each do |item| %>	
			<% id = item["id"]["videoId"] %> 
			<% image_url = item["snippet"]["thumbnails"]["medium"]["url"] %>

			<% video_link = video_link_prefix + id %>

			<h2><%= item["snippet"]["title"] %></h2>

			<%= link_to image_tag(image_url), video_link %>


		<br><br>
		<% end %>

	<% end %>
