
<!DOCTYPE html>
<html>
<head>
<title>Tube Tube</title>

</head>
<body>

<!-- 
{"StationToStationInfos"=>[{"CompositeMiles"=>1.34, "DestinationStation"=>"A06", "RailFare"=>{"OffPeakTime"=>1.75, "PeakTime"=>2.15, "SeniorDisabled"=>1.05}, "RailTime"=>5, "SourceStation"=>"A04"}]}

 -->

<%= @wmata_data["StationToStationInfos"][0]["RailTime"]%>

<%= @youtube_data["items"][0]["snippet"]["title"] %>	

<%= form_tag(:action => "submitform") do %>
<%= text_field_tag("stopcodeA", params[:stopa]) %>
<%= text_field_tag("stopcodeB", params[:stopb]) %>
<%= submit_tag("submit length") %>
<% end %>

<h1>TESTING WITH HTTPARTY</h1>
<h2>Watch a perfectly timed YouTube video for your trip on the DC Metro!</h2>

<label for="startStationsDropDown"> Choose your Starting Station:</label>
<select name="startStationsDropDown" id="startStationsDropDown">

</select>

<br />

<label for="endStationsDropDown"> Choose your End Station:</label>
<select name="endStationsDropDown" id="endStationsDropDown">

</select>

<br />

<button id="submitStations">Submit</button>

<div id="estimate">
</div>

<div id="recommendedVideos">
</div>

</body>
</html>